---
// import
import emojiHolidays from "../data/emojiHolidays.json";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>LOCAL data</title>
   
   <style>
      h1 {
        font-size: 8rem;
      }
    </style>
  </head>
  <body>
    {emojiHolidays.map((emoji) => <h1>{emoji.name}</h1>)}
  </body>
</html>
